__pycache__/
*.py[cod]
WorkingData/
Build/
*.grf
*.nml
build.log
nmlc.log
.venv/
.DS_Store
legacy_fixed.png
*_working.png
*.png.cache
*.png.cacheindex
*.png.sheetcache.json
*.lightcache.json

/tools
/src/grf/generated_variants
